.item-card img {
  width: 100%;
}

.item-card {
  display: flex;
  flex-direction: column;
}

.item-card p {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

.item-card span {
  margin-bottom: 10px;
  font-size: 16px;
}

.button-count {
  display: flex;
  width: 100%;
  justify-content: center;
}

.button-detail {
  background-color: rgb(240, 240, 54);
}

.dark-mode {
  background-color: rgb(32, 32, 32);
  color: white;
}